#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --origin-g1: 32.1%;
  --origin-g2: 65.5%;
}

#Layer_1 {
  enable-background: new 0 0 1000 1000;
}

h1 {
  font-size: 1.5rem;
}

.st1 {
  display: inline;
}
.st2 {
  fill: #ffffff;
}
.st3 {
  fill: #242424;
}

.group1 {
  transform-origin: var(--origin-g1) var(--origin-g1);
  animation: rotate 8s infinite linear;
}

.group2 {
  transform-origin: var(--origin-g2) var(--origin-g2);
  animation: rotate 8s infinite linear reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

footer {
  font-size: 0.8rem;
}