#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#Layer_1 {
  enable-background: new 0 0 1000 1000;
}

.st0 {
  display: none;
}
.st1 {
  display: inline;
}
.st2 {
  fill: #ffffff;
}
.st3 {
  fill: #242424;
}