#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.signature-container {
  height: 500px;
  width: auto;
}

.container {
  enable-background:new 0 0 841.9 595.3;
  height: 100%;
  width: 100%;
}

.st0 {
  animation: sign 1s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

#signature1 {
  stroke-dasharray: 394;
  stroke-dashoffset: 394;
  animation-delay: 0s;
}

#signature2 {
  stroke-dasharray: 501;
  stroke-dashoffset: 501;
  animation-delay: 1s;
}

#signature3 {
  stroke-dasharray: 312;
  stroke-dashoffset: 312;
  animation-delay: 2s;
}

#signature4 {
  stroke-dasharray: 258;
  stroke-dashoffset: 258;
  animation-delay: 3s;
}

#signature5 {
  stroke-dasharray: 316;
  stroke-dashoffset: 316;
  animation-delay: 4s;
}